html{
  background-image:   url("./img/wallpaper.png");
  background-size: 100vw;
  background-repeat: no-repeat;
}
 #top {
   display: flex;
   flex:100%;
   justify-content: center;
   margin-top: 25%;
   margin-left: 10px;
 }

 #bottom {
   display: flex;
   flex:100%;
   justify-content: center;
   margin-top: 10%;
   margin-left: 10px;
 }

 #top img, #bottom img {
   margin: auto;
   width: 90%;
   min-width: 100px;
 }
