
html{
  background-color: #b4c4d8 ;
}

Main {
  flex: 20%;
  min-width: 300px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

h1 {
  font-family: 'Martel Sans', sans-serif;
font-size: xx-large;
margin: 0;
padding: 0;
}

h3 {
  font-family: sans-serif;
  font-weight: 200;
  font-size: small;
}

main img {
  max-width: 52.4%;
  min-width: 320px;
  z-index: 1;
  position: relative;
  top: -76.2%;
}
/*DO NOT TOUCH THE iFRAME!!!! I FIXED IT!
if you have problems with your page fix the sizing within it*/
main iframe {
  width: 50%;
  min-width: 299px;
  z-index: 2;
  position: relative;
  top: 3.4%;
  max-height: 88px;
  min-height: 76%;
  border: transparent;
  border-radius: 15px;
  overflow: hidden;
}

Section {
  flex: 46%;
  min-width: 190px;
  flex-grow: 1;
  padding: 10px;
}

Aside {
  border-radius: 10px;
  flex: 20%;
  min-width: 210px;
  text-align: center;
  overflow: hidden;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin: 0px auto 0px auto;
}

.vert-center {
  display: block;
  margin: 0;
  padding: 0px 25px 0px 25px;
  position: relative;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h1, h2, h3, h4, {
  display: inline-flex;
  margin: 5px;
  width: max-content;
}

#top {
  width: 100%;
  overflow: hidden;
  border: solid 0px transparent;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.block {
  min-width: 170px;
  display: inline-block;
  max-width: 250px;
  padding: 10px 5px 0px 5px;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  margin: 0px auto 0px auto;
  }

.block img {
  max-width: 100%;
}


@media screen and (max-width:800px) {
  #top, main , #bottom, section, aside
  {width:100%;}
}
