*{
  border-style: solid;
  border-width: thin;
  border-color: tomato;
  }

#screen{
  border-style: dashed ;
  border-width: 5px;
  border-color: green;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#tablet{
  padding: 15px;
  background-color: gold;
  width: auto;
  height: auto;
}

html{
    background-color: cornflowerblue;
}
